*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background-color: white;
    color: black;
    font-family: "Josefin Sans", sans-serif;
}

img {
    max-width: 100%;
}

.hero {
    height: 100vh;
    background-image: url(images/mobile/image-hero.jpg);
    display: flex;
    flex-direction: column;
}

h1 {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -60% -90%;
    margin: 1em;
    padding: 1em;
    color: white;
    border: 2px solid white;
}

.nav-btn {
    position: relative;
    border: none;
    background-color: transparent;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo,.nav-btn {
    z-index: 10;
}

nav > * {
    margin: 1em;
}
 
.header-nav {
    display: none;
    list-style: none;
}

.active .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    background-color: black;
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

ul {
    padding: 0;
}

.nav-item {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em;
    padding: 1em;
}

h1, h2, h3 {
    text-transform: uppercase;
}

section {
    margin: 1em;
    text-align: center;
}

.creations {
    display: grid;
}

.creation {
    position: relative;
    color: white;
}

.creation-title {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    margin-bottom: 0;
}

.more-btn {  
    display: block;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Alata;
    margin: 2em 4em;
    padding: 0.8rem;
    border: 2px solid black;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em 1em 1em;
}

footer ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
}

.footer-nav-item {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

.social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (min-width: 600px) {

.creations {
    grid-template-columns: repeat(4, 1fr);
}

}
